# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Finder (MacOS) folder config
.DS_Store

# RSC output
build/

# Bun lock
bun.lockb

# Not sure this is needed
types.d.ts
